.Feature-header {
  margin-left: 10px;
}

.Feature-container {
  margin-left: 50px;
  margin-right: 50px;
  & ul{ 
    font-size: 24px;
    list-style-type: none;
    float: left;

    & li{
      clear: left;
      height: 20px;
    }
  }
}
