.Feature, .has-subfeatures, .no-subfeatures {
  width: 300px;
  min-height: 50px;
}

.has-subfeatures, .no-subfeatures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.has-subfeatures span, .no-subfeatures span {
  margin-left: 10px;
}

.Feature {
  font-size: 16px;
  list-style-type: none;
  margin: 5px 5px;
  border: 1px solid black;
}

.has-subfeatures:hover {
  background-color: #40d9ac;
  transition: background-color 0.1s linear;
  cursor: pointer;
}

.icon-right {
  font-size: 24px;
  margin-right: 10px;
}
